@use './base' as b;

.user {
	min-width: 32.6rem;
	min-height: 37.4rem;
	background-color: b.$white;
	text-align: center;
	border-radius: 1.4rem;
	box-shadow: 0px 15px 30px hsla(229, 23%, 23%, 0.2);
	overflow: hidden;

	@include b.respond(large) {
		min-width: 35rem;
	}

	&__header {
		background-image: url('../../dist/img/bg-pattern-card.svg');
		min-height: 14.7rem;

		@include b.respond(large) {
			min-height: 14rem;
		}
	}

	&__img {
		// margin: calc(-1 * 96px / 2) auto 0;
		margin: calc((b.$profile-photo / 2) * -1) auto 0;
		display: block;
		border: 0.5rem solid b.$white;
		border-radius: 50%;
	}

	&__info {
		margin: 1.5rem;
	}

	&__name {
		padding-right: 0.5rem;
		color: b.$very-dark-blue;
		font-weight: 700;
	}

	&__age {
		color: b.$dark-grayish-blue;
	}

	&__location {
		margin: 0.6rem 0 2.2rem;
		color: b.$dark-grayish-blue;
		font-size: 1.4rem;

		@include b.respond(large) {
			margin: 0.8rem 0 2.3rem;
		}
	}

	&__stats {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 1.8rem;
		padding-top: 2.4rem;
		border-top: 1px solid b.$dark-gray-2;

		@include b.respond(large) {
			margin-bottom: 1.8rem;
		}

		&-num {
			color: b.$very-dark-blue;
			font-weight: 700;
		}

		&-type {
			color: b.$dark-grayish-blue;
			font-size: 1rem;
			letter-spacing: 0.2rem;
		}
	}

	&__stats-detials {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}
}
